name: Pester
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v1
    - name: Run Pester tests
      run: |
        Install-Module -Name Pester -RequiredVersion 5.0.4;
        Invoke-Pester -Path "tests";
      shell: pwsh
