name: Publish Module
on:
  pull_request:
    branches: [ main ]
jobs:
  publish-module:
    runs-on: [ ubuntu-latest ]
    steps:
    - name: Publish-Module
      run: Publish-Module -Path .\civoShell\ -NuGetApiKey ${{ secrets.POWERSHELLGALLERY }}
      shell: pwsh